@import "tailwindcss";
*{
  font-family: monospace;
}
@media only screen and (min-width: 500px) and (max-width: 600px) {
  .home-bg {
    background-position: center;
  }
  .box > h1 {
    font-size: var(--text-4xl) /* 2.25rem = 36px */;
    line-height: var(
      --tw-leading,
      var(--text-4xl--line-height) /* calc(2.5 / 2.25) ≈ 1.1111 */
    );
  }
  .box > h2 {
    --tw-leading: calc(var(--spacing) * 20) /* 5rem = 80px */;
    line-height: calc(var(--spacing) * 20) /* 5rem = 80px */;
    font-size: var(--text-2xl) /* 1.5rem = 24px */;
    line-height: var(
      --tw-leading,
      var(--text-2xl--line-height) /* calc(2 / 1.5) ≈ 1.3333 */
    );
  }
}

